name: build_sites

on:
  push:
    branches: master

jobs:
  build:
    runs-on: ubuntu-latest
    container: mpetienne/sotr-rennes:0.11
    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - name: Checkout repo
        uses: actions/checkout@v2

      - name: Build site
        run: |
          Rscript R/build_site.R

      - name: GitHub Pages action
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./_site

